/* 공통 영역 CSS */
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    padding-top: 70px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bold;
    color: #aaa;
}

/* 헤더 영역 */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #eee;
}

header > ul {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

header > ul > li > ul {
    display: none;
    position: absolute;
    white-space: nowrap;
    top: 230%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #eee;
}

header ul:hover li ul {
    display: block;
}

header > ul > li {
    position: relative;
    font-size: 16px;
}

header > ul > li > ul > li {
    padding: 20px 10px;
}

header .active {
    font-weight: bold;
    color: blue;
}

/* 비주얼 영역 */
@keyframes visualAreaSlide {
    0%, 30%, 100% {
        background-image: url("./2024_웹디자인및개발_전국기능경기대회문제(경기)_최종버전/공통제공파일/img/1.jpg");
    }
    33%, 63% {
        background-image: url("./2024_웹디자인및개발_전국기능경기대회문제(경기)_최종버전/공통제공파일/img/2.jpg");
    }
    66%, 96% {
        background-image: url("./2024_웹디자인및개발_전국기능경기대회문제(경기)_최종버전/공통제공파일/img/3.jpg");
    }
}

#visualArea {
    width: 80%;
    height: 800px;
    margin: 30px auto 0 auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation: visualAreaSlide 12s infinite;
}

/* 공지사항 영역 */
#noticeArea {
    margin-top: 30px;
    text-align: center;
}

#noticeArea h1 {
    margin-bottom: 10px;
}

#noticeArea input {
    display: none;
}

#noticeArea label {
    font-size: 24px;
    cursor: pointer;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: gray;
}

#noticeArea input:checked + label {
    color: black;
}

#noticeArea .notice_content {
    display: none;
}

#noticeArea .content img {
    width: 128px;
    height: 128px;
    margin: 0 10px;
    border-radius: 30px;
}

#noticeArea .content ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#noticeArea .content .title {
    margin-top: 10px;
    font-size: 32px;
    font-weight: bold;
}

#noticeArea .content .date {
    font-size: 24px;
    color: #444;
}

#noticeArea .parentContent {
    display: none;
}

#noticeArea .content {
    border: dotted 1px black;
    border-radius: 10px;
    width: 50%;
    margin: 10px auto;
    padding: 20px;
}

#noticeArea .content:hover {
    border: solid 2px black;
}

#n_culture:checked ~ #n_culture_content,
#n_edu:checked ~ #n_edu_content,
#n_activity:checked ~ #n_activity_content {
    display: block;
}
