/* 공통 영역 CSS */
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    padding-top: 80px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bold;
    color: #aaa;
}

ul {
    margin: 0;
    padding: 0;
}

/* 헤더 영역 */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #eee;
    z-index: 1050;
    padding: 5px 0;
}

header > ul {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    list-style: none;
}

header > ul > li {
    position: relative;
}

header > ul > li > ul {
    display: none;
    position: absolute;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
    background-color: #eee;
    border: 1px solid #ccc;
}

header > ul > li:hover > ul {
    display: block;
}

header > ul > li > ul > li {
    padding: 5px 10px;
    background-color: #eee;
}

header > ul > li > ul > li:hover {
    background-color: #ddd;
}

header .active {
    font-weight: bold;
    color: blue;
}

/* 푸터 영역 */
footer {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #ccc;
    width: 100%;
    height: 100px;
}

footer * {
    margin-right: 10px;
}

/* 비주얼 영역 */
@keyframes visualAreaSlide {
    0%, 30%, 100% {
        background-image: url("./2024_웹디자인및개발_전국기능경기대회문제(경기)_최종버전/공통제공파일/img/1.jpg");
    }
    33%, 63% {
        background-image: url("./2024_웹디자인및개발_전국기능경기대회문제(경기)_최종버전/공통제공파일/img/2.jpg");
    }
    66%, 96% {
        background-image: url("./2024_웹디자인및개발_전국기능경기대회문제(경기)_최종버전/공통제공파일/img/3.jpg");
    }
}

#visualArea {
    width: 80%;
    height: 800px;
    margin: 30px auto 0 auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation: visualAreaSlide 12s infinite;
}

/* 공지사항 영역 */
#noticeArea {
    margin-top: 30px;
    text-align: center;
}

#noticeArea h1 {
    margin-bottom: 10px;
}

#noticeArea input {
    display: none;
}

#noticeArea label {
    font-size: 24px;
    cursor: pointer;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: gray;
}

#noticeArea input:checked + label {
    color: black;
}

#noticeArea .notice_content {
    display: none;
}

#noticeArea .content img {
    width: 128px;
    height: 128px;
    margin: 0 10px;
    border-radius: 30px;
}

#noticeArea .content ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#noticeArea .content .title {
    margin-top: 10px;
    font-size: 32px;
    font-weight: bold;
}

#noticeArea .content .date {
    font-size: 24px;
    color: #444;
}

#noticeArea .parentContent {
    display: none;
}

#noticeArea .content {
    border: dotted 1px black;
    border-radius: 10px;
    width: 50%;
    margin: 10px auto;
    padding: 20px;
}

#noticeArea .content:hover {
    border: solid 2px black;
}

#n_culture:checked ~ #n_culture_content,
#n_edu:checked ~ #n_edu_content,
#n_activity:checked ~ #n_activity_content {
    display: block;
}

/* 갤러리 영역 */
#galleryArea {
    text-align: center;
    margin-top: 30px;
}

#slideContainer {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    width: 80%;
    height: 70vh;
    margin: 0 auto;
}

#slideContainer p, #slideContainer h1 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
}

#slideContainer .slide {
    flex: none;
    width: 100%;
    height: 70vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#slideContainer .slide:nth-of-type(1) {
    background-image: url("./2024_웹디자인및개발_전국기능경기대회문제(경기)_최종버전/공통제공파일/img/1.jpg");
}

#slideContainer .slide:nth-of-type(2) {
    background-image: url("./2024_웹디자인및개발_전국기능경기대회문제(경기)_최종버전/공통제공파일/img/2.jpg");
}

#slideContainer .slide:nth-of-type(3) {
    background-image: url("./2024_웹디자인및개발_전국기능경기대회문제(경기)_최종버전/공통제공파일/img/3.jpg");
}

/* 소개 영역 */
#information {
    position: relative;
}

#information img {
    width: 100%;
    height: 80vh;
    filter: brightness(0.5);
}

#information p {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
    color: white;
    font-size: 24px;
}

#rule {
    text-align: center;
    margin-top: 20px;
}

#rule p {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    padding: 5px 0;
}

#rule p:hover {
    color: red;
}

#tour_root {
    text-align: center;
    position: relative;
}

#tour_root h1 {
    margin: 30px 0 10px 0;
}

#tour_root div {
    position: absolute;
    background: lightgray;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    top: 50px;
    left: 320px;
    cursor: pointer;
}

#tour_root div p {
    display: none;
}

#tour_root div span {
    font-size: 48px;
}

#tour_root #root_1 {
    top: 160px;
    left: 990px;
}

#tour_root #root_2 {
    top: 330px;
    left: 1040px;
}

#tour_root #root_3 {
    top: 290px;
    left: 910px;
}

#tour_root div:hover p {
    display: block;
    white-space: nowrap;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* 퀴즈 이벤트 참가 영역 */
#menus {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 20px auto 10px;
}

#maps {
    text-align: center;
    width: 1280px;
    height: 700px;
    border: solid 1px black;
    margin: 0 auto;
    position: relative;
}

#maps img {
    width: 1280px;
    height: 700px;
    object-fit: cover;
}

#maps .pointer {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    z-index: 10; /* 포인터가 간선 위에 표시되도록 */
}

#maps .line {
    position: absolute;
    background-color: black;
    z-index: 5;
    transform-origin: 0 0; /* 회전 중심을 왼쪽 위로 설정 */
}

#questionContainer {
    margin-left: 300px;
}

/* 회원가입 페이지 */
#virtualKeyboard {
    width: 800px;
    margin: 0 auto;
}

.keyboard-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.keyboard-key {
    width: 50px;
    height: 50px;
    margin: 5px;
    text-align: center;
    line-height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}

.keyboard-key.active {
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
}

.btn-secondary.active {
    background-color: #6c757d;
    color: white;
}

.btn-secondary {
    width: auto;
}
