/* 공통 영역 CSS */
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    padding-top: 70px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bold;
    color: #aaa;
}

/* 헤더 영역 */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #eee;
}

header > ul {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

header > ul > li > ul {
    display: none;
    position: absolute;
    white-space: nowrap;
    top: 230%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #eee;
}

header ul:hover li ul {
    display: block;
}

header > ul > li {
    position: relative;
    font-size: 16px;
}

header > ul > li > ul > li {
    padding: 20px 10px;
}

header .active {
    font-weight: bold;
    color: blue;
}